$primaryColor: #ffa91a;
$secondaryColor: #76a34f;
$backgroundColor: #648940;
$fontColor-light: whitesmoke;
$fontColor-dark: #8c3f0a;

$gutter: 2%;
$dblgutter: $gutter * 2;

$font: 'KoHo', sans-serif;
$fontLight: 300;
$fontLight-italic: 300i;
$fontReg: 400;
$fontReg-italic: 400i;
$fontBold: 600;
$fontBold-italic: 600i;