$primaryColor: #0dbbbb;
$secondaryColor: #008282;
$backgroundColor: #424242;
$fontColor: whitesmoke;

$gutter: 2%;
$dblgutter: $gutter * 2;

$font: 'KoHo', sans-serif;
$fontLight: 300;
$fontLight-italic: 300i;
$fontReg: 400;
$fontReg-italic: 400i;
$fontBold: 600;
$fontBold-italic: 600i;